# Copy this file so that it's named "hosts" and edit it
# according to your needs. You should put at least one
# host (hostname or IP address) in the [fonos] section,
# and be able to log into them with password-less SSH.
# It is also recommended to add your Spotify credentials.

[fonos]
fonos.local
fonos2.local

[fonos:vars]
ansible_python_interpreter=auto
spotify_client_id=1234abcd-f00d-dead-beef-1234abcd6789
spotify_client_secret=abcDEF123-ghi_JKL
spotify_username=sclarke
spotify_password=sch00lday5
soundcloud_auth_token=1-23456-78999999-abc123def456789
