mopidy

mopidy-soundcloud
pafy==0.5.2
mopidy-youtube
mopidy-spotify-tunigo
mopidy-radio-de

# web interfaces
mopidy-mopify
mopidy-material-webclient
mopidy-mobile
mopidy-moped
mopidy-musicbox-webclient
mopidy-spotmop

Flask

# ZeroConf 0.20 dropped support for Python 2.
# For now, pin that version until we upgrade everything else.
#zeroconf==0.19.1
zeroconf
